*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;

}

.main-layout{
    width: 100%;
    padding: 5% 20% 5% 20%;
    display: flex;
}

.background{
    background-color: #d3d3d3;
}

.up-bar{
    background-color: #add8e6;
    height: 50px;
}

.up-items{
    background-color: #daa520;
    border: black dashed 1px;
    flex-grow: 2
}


.banner{
    background-color: #02028b;
    height: 400px;
}



.slide{
    background-color: #ee82ee;
    border: black dashed 1px;
    height: 300px;
    color: white;
    width: 70%;
}

.main-item{
    background-color: #1d90ff;
    border: black dashed 1px;
    height: 300px;
    width: 70%;
}

.main-text{
    background-color: #ffbfcb;
    border: black dashed 1px;
    width: 30%; 
}

.main-big-item{
    background-color: #228b22;
    border: black dashed 1px;
    width: 100%;
    height: 500px;
}

.other{
    background-color: #23272a;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-p{
    background-color: #f07f80;
    height: 300px;
    width: 30%;
    border: black dashed 1px;
}

.footer-s{
    background-color: #20b2aa;
    height: 300px;
    width: 15%;
    border: white dashed 1px;
}

.credits{
    height: 50px;
    width: 100%;
    background-color: #23272a;
    border-top: white solid 1px;
}

.green{
    background-color: #7fffd4;
}

div>span{
    background-color: #ffb6c1;
    border: black dashed 1px;
}